
{% capture content %}
	<h1 class="content-title">{{title}}</h1>

	{% if pages %}
		{% comment %} Show subpages if there are any available {% endcomment %}
		<nav class="subpage-menu">
			{% for subpage in pages %}
				<a href="{{subpage.url}}">{{subpage.title}}</a>
			{% endfor %}
		</nav>
	{% endif %}
	<article>
	{{body}}
	</article>
	{% if type == "post" %}
		{% if meta.source %}
		<hr>
		{% for publication in taxonomy.publication %}<h2><a href="{{meta.source}}">Originally published at {{publication}}</a></h2>{% endfor %}
		{% endif %}
		<hr>
		{% comment %} Show tagsets if this is a post {% endcomment %}
		<h2>Read more from this...</h2>
		{% for tagset in taxonomy %}
			<h3>{{tagset.key}}</h3>
			<ul>
				{% for tag in tagset %}
					<li><a href="{{tag.url}}">{{tag.value}}</a></li>
				{% endfor %}
			</ul>
		{% endfor %}

	{% else %}
		{% comment %} Loop through any posts and show an excerpt {% endcomment %}
		<ul class="article-list">
		{% for post in posts %}
			<li>
				<h2><a href="{{post.url}}">{{post.title}}</a></h2>
				<p class="metadata">
				Published by {% for publication in post.taxonomy.publication %}<a href="{{publication.url}}">{{publication.value}}</a>{% endfor %} on {{post.date | date: "%B %-d, %Y" }} 
				</p>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endcapture %}

{% include "layouts/default" %}
