{% capture content %}
      <h1 class="content-title">{{title}}</h1>

      {% if pages %}
        {% comment %} Show subpages if there are any available {% endcomment %}
        <nav class="subpage-menu">
          {% for subpage in pages %}
            <a href="{{subpage.url}}">{{subpage.title}}</a>
          {% endfor %}
        </nav>
      {% endif %}
      <article>
      {{body}}

      {% if type == "post" %}
      <ul class="gallery">
        {% for asset in assets %}
            {% if asset.type == 'image' %}
              <li>
                <figure>
                    <a href="{{asset.url}}" data-caption="{{asset.meta['caption']}}"><img src="{{asset.url}}" width="200px"></a>
                </figure>
              </li>
            {% endif %}
        {% endfor %}
      </ul>
      </article>

      {% else %}
        {% comment %} Loop through any posts and show an excerpt {% endcomment %}
        <ul class="article-list grid">
          {% for post in posts %}
            <li>
                <a href="{{post.url}}">
                {% for asset in post.assets | limit:1 %}
                  {% if asset.type == 'image' %}
                      <p class="thumbnail" style="background-image:url('{{asset.url}}');">&nbsp;</p>
                      <h2>{{post.title}}</h2>
                  {% endif %}
                {% endfor %}
                </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://marshelal.com/jquery.lightbox.css" />
<script src="http://marshelal.com/jquery.lightbox.js"></script>
<script>
  // Initiate Lightbox
  $(function() {
    $('.gallery a').lightbox(); 
  });
</script>

{% endcapture %}

{% include "layouts/default" %}
