{% capture content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/ResponsiveSlides.js/1.53/responsiveslides.min.js"></script>
<script>
  $(function() {
    $(".rslides").responsiveSlides({
      nav: true,             // Boolean: Show navigation, true or false
      pause: true,           // Boolean: Pause on hover, true or false
      pauseControls: true,    // Boolean: Pause when hovering controls, true or false
      navContainer: ".rslides_nav",    // Boolean: Pause when hovering controls, true or false
      prevText: "&larr; Previous",   // String: Text for the "previous" button
      nextText: "Next &rarr;",       // String: Text for the "next" button
    });
  });
</script>

      <h1 class="content-title">{{title}}</h1>

      {% if pages %}
        {% comment %} Show subpages if there are any available {% endcomment %}
        <nav class="subpage-menu">
          {% for subpage in pages %}
            <a href="{{subpage.url}}">{{subpage.title}}</a>
          {% endfor %}
        </nav>
      {% endif %}
      <article>
      {{body}}

      {% if type == "post" %}
      <nav class="rslides_nav"></nav>
      <ul class="rslides">
        {% for asset in assets %}
        <li>
          <figure>
            {% if asset.type == 'image' %}
              <img src="{{asset.url}}">
            {% endif %}
            {% if asset.meta['caption'] %}
              <figcaption>{{asset.meta['caption']}}</figcaption>
            {% endif %}
          </figure>
        </li>
        {% endfor %}
      </ul>
      </article>

      {% else %}
        {% comment %} Loop through any posts and show an excerpt {% endcomment %}
        <ul class="article-list grid">
          {% for post in posts %}
            <li>
              
                <a href="{{post.url}}">
                {% for asset in post.assets | limit:1 %}
                  {% if asset.type == 'image' %}
                      <p class="thumbnail" style="background-image:url('{{asset.url}}');">&nbsp;</p>
                      <h2>{{post.title}}</h2>
                  {% endif %}
                {% endfor %}
                </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}

{% endcapture %}

{% include "layouts/default" %}
